{% extends "_base.html" %}
{% block content %}
    {% csrf_token %}
    <div class="row">
    <div class="col-md-10">
          <h4>From:</h4> {{ message.msg_from }}
          <hr>
          <h4>Subject:</h4> {{ message.subject }}
          <hr>
          <h4>In-Reply-To:</h4> {{ message.in_reply_to_header }}
          <hr>
          <h4>Text:</h4><pre>{{ message.text}}</pre>
          <hr>
          <h4>Quote:</h4><pre>{{ message.quote }}</pre>
          <hr>
          <h4>Files:</h4>
            {% for file in files %}
                <a href="{{ file.file.url }}" target="_blank">{{ file.file.name }}</a>
                <br>
            {% endfor %}
          <hr>

    </div>
    <div class="col-md-2">
          <br>
          <br>
          <br>
        {% if message.status == 0 %}
          <button type="button" class="btn btn-default mail_parsing-accept btn-success" message_id="{{ message.id }}">
        {% else %}
          <button type="button" class="btn btn-default mail_parsing-accept" message_id="{{ message.id }}">
        {% endif %}
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </button>
        {% if message.status == 1 %}
          <button type="button" class="btn btn-default mail_parsing-not_accept btn-danger" message_id="{{ message.id }}">
        {% else %}
          <button type="button" class="btn btn-default mail_parsing-not_accept" message_id="{{ message.id }}">
        {% endif %}
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
          <br>
          <br>
        <form action="{% url 'prev' message.id %}" class="mail_parsing-button" method="get">
        {% if list_type != -1 %}
          <input type="hidden" name="type" value="{{ list_type }}">
        {% endif %}
          <input type="hidden" name="status" value="{{ list_status }}">
          {% if list_status != -1 or list_type != -1 %}
            <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            </button>
          {% else %}
            <button type="submit" class="btn btn-default" disabled>
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            </button>
          {% endif %}
        </form>
        <form action="{% url 'next' message.id %}" class="mail_parsing-button" method="get">
          {% if list_type != -1 %}
            <input type="hidden" name="type" value="{{ list_type }}">
          {% endif %}
          <input type="hidden" name="status" value="{{ list_status }}">
          {% if list_status != -1 or list_type != -1 %}
            <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </button>
          {% else %}
            <button type="submit" class="btn btn-default" disabled>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </button>
          {% endif %}
        </form>
    </div>
    </div>
    <div class="row">
    <div class="col-md-10">
        <h4>Original:</h4><pre>{{ message.original }}</pre>
              <br>
              <br>
    </div>
    </div>
    {% load static %}
    <script type="text/javascript" src="{%  static 'scripts/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{%  static 'scripts/accept.js' %}"></script>

{% endblock %}