{% extends "_base.html" %}
{% block content %}
          <h2>Table</h2>
          <div class="table-responsive">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>#</th>
                  <th>From:</th>
                  <th>Subject</th>
                </tr>
              </thead>
              <tbody>
              {% for message in messages %}
                <tr>
                  <td>{{ message.id }}</td>
                  <td><a href="{% url 'message' message.id %}">{{ message.msg_from }}</a></td>
                  <td>{{ message.subject }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
{% endblock %}